<h1>Home</h1>
<p>Quyen cua ban la: <strong>{{ currentUser.role }}</strong></p>
<p>Trang nay co the duoc truy cap boi tat ca nguoi dung</p>
<!--<div>-->
  <!--nguoi dung hien tai tu api:-->
  <!--<ul>-->
    <!--<li *ngIf="loading" class="spinner-border spinner-border-sm"></li>-->
    <!--<li *ngIf="userFromApi">{{ userFromApi.firstname }} {{ userFromApi.lastname }}</li>-->
  <!--</ul>-->
<!--</div>-->

<div>
  danh sach:
  <ul>
    <li *ngFor="let user of users">
      {{ user.username }} ({{ user.firstname }} {{ user.lastname }} ) - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
  </ul>
</div>
